body{
    margin:20px;
    font-family: "Cormorant",sans-serif;
}
h1{
    font-family: "Cormorant",sans-serif;
    font-weight: 200;
    display: inline-block;
    margin: 0;
}

.navbar{
    display: inline-block;
}
.navbar  li{
    display: inline-block;
    margin-right: 10px;
    font-family: 'Quicksands', sans-serif;
    color: black;

}
.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Cormorant';
    font-weight: 100;
    
}
a.active{
    border-bottom: 1px solid black;
}
.images{
    padding: 16px;
}
.card{
    display:inline-block;
    width: 49.5%;
    box-sizing: border-box;
    padding: 20px;
    min-width: 400px;
    margin-bottom: 1px;
}
h2{
    margin:1px;
    font-weight: 200;
}
.card img {
    height: 400px;
    width:100%;
    object-fit: cover;
    margin: 0px;
}
.card:hover{
    opacity: 0.9;
}
.footer{
    min-width: 500px;
}
 h3{
    color:black;
    margin:0px 10px 5px 34px;
    width:49%;
    display: inline-block;
    font-weight: 300;

   
}
.contact{
    color:black;
    margin:0px 10px 5px 34px;
    width:49%;
    display: inline-block;
    font-weight: 300;
     
}